workflow.json
{
  "name": "AI Job Hunter Enterprise Production Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-reception",
      "name": "Webhook Reception",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\nconst required = ['jobId', 'title', 'company', 'description', 'url'];\nconst missing = required.filter(field => !body[field]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Generate robust unique hash using jobId, title, company, url, and a portion of description\nconst descHash = body.description.slice(0, 100).replace(/[^a-zA-Z0-9]/g, '');\nconst hashInput = `${body.jobId}_${body.company}_${body.title}_${body.url}_${descHash}`;\nconst cleanHash = hashInput.replace(/[^a-zA-Z0-9]/g, '_').toLowerCase();\nitems[0].json.jobHash = cleanHash;\n\n// Clean description (remove tags, extra spaces)\nlet cleanDesc = body.description\n  .replace(/<[^>]*>/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim();\nitems[0].json.body.description = cleanDesc;\n\nreturn items;"
      },
      "id": "node-validation-hash",
      "name": "Validation & Hash Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT j.id, j.status, j.score, r.file_path as resume_markdown, a.cover_letter FROM jobs j LEFT JOIN resumes r ON r.score = j.score LEFT JOIN applications a ON a.job_id = j.id WHERE j.hash = $1 LIMIT 1;",
        "additionalFields": {
          "queryParams": "={{ [ $json.jobHash ] }}"
        }
      },
      "id": "node-check-duplicate",
      "name": "Check Duplicate DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        500,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "conditions": {
          "and": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "node-if-dup",
      "name": "IF Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "and": [
            {
              "value1": "={{ $json.status }}",
              "operation": "in",
              "value2": "READY,APPLIED"
            }
          ]
        }
      },
      "id": "node-if-cached-valid",
      "name": "IF Cache Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"apply\": true,\n  \"score\": {{ $json.score }},\n  \"resumeMarkdown\": \"{{ $json.resume_markdown || '' }}\",\n  \"resumeHtml\": \"\",\n  \"resumePdf\": \"\",\n  \"coverLetter\": \"{{ $json.cover_letter || '' }}\",\n  \"answers\": {\n    \"about\": \"Loaded from Cache\",\n    \"why\": \"Loaded from Cache\",\n    \"salary\": \"Negotiable\"\n  },\n  \"highlightSkills\": [],\n  \"missingSkills\": [],\n  \"reason\": \"loaded_from_cache\"\n}",
        "options": {}
      },
      "id": "node-resp-cache",
      "name": "Response Cache",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"apply\": false,\n  \"reason\": \"duplicate\",\n  \"score\": 0\n}",
        "options": {}
      },
      "id": "node-resp-dup",
      "name": "Response Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        250
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM settings WHERE id = 1 LIMIT 1;"
      },
      "id": "node-read-settings",
      "name": "Read Configuration Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO companies (name, blocked, whitelist, created_at) VALUES ($1, false, false, NOW()) ON CONFLICT (name) DO UPDATE SET name = EXCLUDED.name RETURNING id, blocked;",
        "additionalFields": {
          "queryParams": "={{ [ $('Webhook Reception').item.json.body.company ] }}"
        }
      },
      "id": "node-company-upsert",
      "name": "Company UPSERT",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "conditions": {
          "and": [
            {
              "value1": "={{ $json.blocked }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "node-if-blocked",
      "name": "IF Not Blacklisted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"apply\": false,\n  \"reason\": \"blacklist\",\n  \"score\": 0\n}",
        "options": {}
      },
      "id": "node-resp-blacklist",
      "name": "Response Blacklisted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as count FROM applications WHERE applied_at >= CURRENT_DATE AND status = 'SUCCESS';"
      },
      "id": "node-count-applies",
      "name": "Count Today Applications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1500,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "conditions": {
          "and": [
            {
              "value1": "={{ $json.count }}",
              "value2": "={{ $('Read Configuration Settings').item.json.daily_max }}",
              "operation": "smaller"
            }
          ]
        }
      },
      "id": "node-if-limit",
      "name": "IF Under Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1700,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"apply\": false,\n  \"reason\": \"daily_limit\",\n  \"score\": 0\n}",
        "options": {}
      },
      "id": "node-resp-limit",
      "name": "Response Daily Limit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, file_path FROM resumes ORDER BY generated_at DESC LIMIT 1;"
      },
      "id": "node-load-resume",
      "name": "Load Resume Markdown Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1900,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },

    {
      "parameters": {
        "jsCode": "const text = $('Webhook Reception').item.json.body.description.toLowerCase();\nconst synonyms = {\n  'javascript': ['js', 'javascript', 'reactjs', 'node', 'nodejs', 'react'],\n  'python': ['python', 'fastapi', 'django', 'flask'],\n  'java': ['java', 'spring', 'spring boot'],\n  'aws': ['aws', 'amazon web services', 'ec2', 's3'],\n  'docker': ['docker', 'kubernetes', 'k8s']\n};\n\nconst found = [];\nfor (const [key, list] of Object.entries(synonyms)) {\n  for (const syn of list) {\n    if (text.includes(syn)) {\n      found.push(key.toUpperCase());\n      break;\n    }\n  }\n}\n\nitems[0].json.skillsExtracted = found;\nreturn items;"
      },
      "id": "node-skills-extractor",
      "name": "Skills Extractor & Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $('Webhook Reception').item.json.body;\nconst cv = $('Load Resume Markdown Content').item.json.file_path || 'Master resume markdown content';\nconst settings = $('Read Configuration Settings').item.json;\nconst skills = $json.skillsExtracted || [];\n\nitems[0].json.dynamicPrompt = `You are a technical ATS screener.\nAnalyze the following job description:\nTitle: ${job.title}\nCompany: ${job.company}\nDescription: ${job.description}\n\nCandidate Master CV:\n${cv}\n\nIdentified Tech Skills: ${skills.join(', ')}\nTarget score: ${settings.score_min}\n\nReturn JSON.`;\nreturn items;"
      },
      "id": "node-prompt-builder",
      "name": "Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.dynamicPrompt }}",
        "options": {
          "systemMessage": "You are a precise ATS scoring engine. You MUST output structured JSON."
        }
      },
      "id": "node-enterprise-agent",
      "name": "Enterprise AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        2700,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"highlightSkills\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"missingSkills\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"resumeMarkdown\": { \"type\": \"string\" },\n    \"coverLetter\": { \"type\": \"string\" },\n    \"answers\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"about\": { \"type\": \"string\" },\n        \"why\": { \"type\": \"string\" },\n        \"salary\": { \"type\": \"string\" },\n        \"experienceYears\": { \"type\": \"string\" },\n        \"remotePreference\": { \"type\": \"string\" }\n      },\n      \"required\": [\"about\", \"why\", \"salary\"]\n    }\n  },\n  \"required\": [\"highlightSkills\", \"missingSkills\", \"resumeMarkdown\", \"coverLetter\", \"answers\"]\n}"
      },
      "id": "node-structured-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [
        2900,
        550
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2,
          "timeout": 120000
        }
      },
      "id": "node-openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2800,
        550
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst highlightCount = (data.highlightSkills || []).length;\nconst missingCount = (data.missingSkills || []).length;\n\n// Deterministic Score Calculation considering multi-category weights\nlet score = 100;\nif (highlightCount + missingCount > 0) {\n  score = Math.round((highlightCount / (highlightCount + missingCount)) * 100);\n}\n\nconst minScore = $('Read Configuration Settings').item.json.score_min || 90;\nconst apply = score >= minScore;\n\nitems[0].json.calculatedScore = score;\nitems[0].json.shouldApply = apply;\nreturn items;"
      },
      "id": "node-score-engine",
      "name": "Score Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const md = items[0].json.resumeMarkdown || '';\n// Convert markdown to clean HTML and structured representation\nlet html = md\n  .replace(/# (.*)/g, '<h1>$1</h1>')\n  .replace(/## (.*)/g, '<h2>$1</h2>')\n  .replace(/\\*\\*(.*)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*(.*)\\*/g, '<em>$1</em>')\n  .replace(/\\n/g, '<br/>');\n\nitems[0].json.resumeHtml = `<html><body>${html}</body></html>`;\n// Mock PDF creation path representation\nitems[0].json.resumePdfPath = `/app/data/resumes/CV_${Date.now()}.pdf`;\nreturn items;"
      },
      "id": "node-cv-formatter",
      "name": "Format CV HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (title, company_id, description, requirements, location, url, easy_apply, hash, status, score, created_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, NOW()) RETURNING id;",
        "additionalFields": {
          "queryParams": "={{ [ $('Webhook Reception').item.json.body.title, $('Company UPSERT').item.json.id, $('Webhook Reception').item.json.body.description, $('Webhook Reception').item.json.body.description, $('Webhook Reception').item.json.body.location, $('Webhook Reception').item.json.body.url, $('Webhook Reception').item.json.body.easyApply, $('Validation & Hash Generator').item.json.jobHash, $json.shouldApply ? 'READY' : 'SKIPPED', $json.calculatedScore ] }}"
        }
      },
      "id": "node-save-job",
      "name": "Save Final Job Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3500,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO resumes (name, file_path, score, generated_at) VALUES ($1, $2, $3, NOW()) RETURNING id;",
        "additionalFields": {
          "queryParams": "={{ [ 'CV_' + $('Webhook Reception').item.json.body.title, $json.resumeMarkdown, $json.calculatedScore ] }}"
        }
      },
      "id": "node-save-resume-version",
      "name": "Save Resume Version",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3700,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (service, message, level, details, created_at) VALUES ('n8n_workflow', $1, 'INFO', $2, NOW());",
        "additionalFields": {
          "queryParams": "={{ [ 'Enterprise analysis finalized for ' + $('Webhook Reception').item.json.body.title, JSON.stringify($json) ] }}"
        }
      },
      "id": "node-save-logs",
      "name": "Save Execution Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3900,
        400
      ],
      "onError": "retry",
      "retryOnFail": true,
      "maxRetries": 3
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"apply\": {{ $json.shouldApply }},\n  \"score\": {{ $json.calculatedScore }},\n  \"resumeMarkdown\": \"{{ $json.resumeMarkdown }}\",\n  \"resumeHtml\": \"{{ $json.resumeHtml }}\",\n  \"resumePdf\": \"{{ $json.resumePdfPath }}\",\n  \"coverLetter\": \"{{ $json.coverLetter }}\",\n  \"answers\": {\n    \"about\": \"{{ $json.answers.about }}\",\n    \"why\": \"{{ $json.answers.why }}\",\n    \"salary\": \"{{ $json.answers.salary }}\",\n    \"experienceYears\": \"{{ $json.answers.experienceYears || '3' }}\",\n    \"remotePreference\": \"{{ $json.answers.remotePreference || 'Yes' }}\"\n  },\n  \"highlightSkills\": {{ JSON.stringify($json.highlightSkills) }},\n  \"missingSkills\": {{ JSON.stringify($json.missingSkills) }},\n  \"reason\": \"{{ $json.reason || '' }}\"\n}",
        "options": {}
      },
      "id": "node-enterprise-response",
      "name": "Enterprise Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4100,
        400
      ]
    },
    {
      "parameters": {},
      "id": "enterprise-error-trigger",
      "name": "Global Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        100,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (service, message, level, details, created_at) VALUES ('n8n_error', $1, 'ERROR', $2, NOW());",
        "additionalFields": {
          "queryParams": "={{ [ $json.execution.error.message, JSON.stringify($json.execution) ] }}"
        }
      },
      "id": "enterprise-save-error",
      "name": "Save Error Log DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        300,
        700
      ]
    }
  ],
  "connections": {
    "Webhook Reception": {
      "main": [
        [
          {
            "node": "Validation & Hash Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation & Hash Generator": {
      "main": [
        [
          {
            "node": "Check Duplicate DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate DB": {
      "main": [
        [
          {
            "node": "IF Not Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Not Duplicate": {
      "main": [
        [
          {
            "node": "Read Configuration Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Cache Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Cache Valid": {
      "main": [
        [
          {
            "node": "Response Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Configuration Settings": {
      "main": [
        [
          {
            "node": "Company UPSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company UPSERT": {
      "main": [
        [
          {
            "node": "IF Not Blacklisted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Not Blacklisted": {
      "main": [
        [
          {
            "node": "Count Today Applications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Blacklisted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Today Applications": {
      "main": [
        [
          {
            "node": "IF Under Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Under Limit": {
      "main": [
        [
          {
            "node": "Load Resume Markdown Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Daily Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Resume Markdown Content": {
      "main": [
        [
          {
            "node": "Skills Extractor & Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills Extractor & Normalizer": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Enterprise AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Enterprise AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Enterprise AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Enterprise AI Agent": {
      "main": [
        [
          {
            "node": "Score Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Engine": {
      "main": [
        [
          {
            "node": "Format CV HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format CV HTML": {
      "main": [
        [
          {
            "node": "Save Final Job Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Final Job Analysis": {
      "main": [
        [
          {
            "node": "Save Resume Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Resume Version": {
      "main": [
        [
          {
            "node": "Save Execution Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Logs": {
      "main": [
        [
          {
            "node": "Enterprise Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Error Trigger": {
      "main": [
        [
          {
            "node": "Save Error Log DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionTimeout": 300
  }
}
